.transContainer{
    position: absolute;
    z-index: 10;
    height: 40em;
    width: 100%;
    top: 4em;
    background-color: black;
}

.transContainer p{
    text-align: center;
    color: white;
}

/* .transContainer:hover */

.list{
    cursor: pointer;
}

.transition-appear{
    height: 0;
}

.transition-appear-active{
    height: 40em;
    transition: all 0.5s ease-in-out;
}

.transition-appear-done{
    height: 40em;
}


.transition-exit{
    height: 40em;
}

.transition-exit-active{
    height: 0;
    transition: all 0.5s ease-in-out;
}

.transition-exit-done{
    height: 0;
}

.liftUp{
    animation-name: liftUp;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes liftUp {
    0%{
        height: 40em;
    }
    100%{
        height: 0;
    }
}


/* .transition-exit{
    animation-name: exit;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.transition-exit-active{
    animation-name: exit;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;  
}

@keyframes exit{
    0%{
        height: 40em;
    }
    100%{
        height: 0;
    }
} */

